<AuthorizeView>
	<Authorized>
		Hello,@context.User.Identity.Name @*on built context name is identity principle which is name*@
		<a href="Identity/Account/Logout">Logout</a>
	</Authorized>
	<NotAuthorized>
		<a href="Identity/Account/Register">Register</a>
        <a href="Identity/Account/Login">Login</a>
	</NotAuthorized>
</AuthorizeView>


@code {

}
 