<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">GulBaharWeb_Server</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class=" navbar-expand-lg navbar navbar-dark bg-dark" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/NewPages/bindProp">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Bind Prop
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/NewPages/Product">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Demo Product
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/NewPages/ParentComponent">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Parent/Child Relation
            </NavLink>
               <div class="nav-item px-3">
            <NavLink class="nav-link" href="/NewPages/Routing">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Routing
            </NavLink>
        </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/NewPages/BlazorJSComponent">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Blazor Js
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/NewPages/LifeCyleComponent">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> LifeCyle
                </NavLink>
            </div>
           <AuthorizeView Roles="@roleAdmin">                                     
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/Category">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Category
                </NavLink>
                </div>
            </AuthorizeView>
            <AuthorizeView Roles="@roleAdmin">
                 <div class="nav-item px-3">
                <NavLink class="nav-link" href="/Product">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Product
                </NavLink>
            </div>
            </AuthorizeView>
             <div class="nav-item px-3">
                <NavLink class="nav-link" href="/orderlist">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> order list
             </NavLink>
            </div>
        </div>
    </nav>
   
</div>

@code {
    private string roleAdmin = GulBahar_Common_Func_Lib.SD.Role_Admin;
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
