<h3>_LifeCycleChildComponent</h3>


<hr/>
@foreach (var item in EventType)
{
    @item
        <hr/>
}

@code {

    [Parameter]
    public int CountValue { get; set; }

    List<string> EventType = new List<string>();

    protected override void OnInitialized()
    {
        EventType.Add(" _Child - On Intitialized is called");
    }

    protected override void OnParametersSet()
    {
        EventType.Add(" _Child - OnParametersSet called");
    }






}

