@page "/NewPages/ParentComponent"
<h3>Parent Child Relation</h3>

<CascadingValue Value="@MessageForGrandChild" Name="message">
	<CascadingValue Value="@LuckyNumber" Name="LuckyNumber">
<_ChildComponent @ref="childComp" onButtonClick="ShowMessage" Title="This title is passed as a paramter fromt the parent component">
	
	<childContent>Render Fragment from Parent! WooHoo!</childContent>
	@*<DangerchildContent>Danger content from Render Fragment! WooHoo!</DangerchildContent>*@
</_ChildComponent>
</CascadingValue>
</CascadingValue>


@code {
	public string MessageForGrandChild = "This message is from your (ParentComponent)";
	public string LuckyNumber = "7";
	public string messageText = "";
	private _ChildComponent childComp;
	private void ShowMessage()
	{
		messageText = "Gulabahr button click from child component"; 
	}
}
