<div class="row"></div>
<h4 class="text-primary pl-4 pt-2 col-12"> Grand Child Component</h4>
<p>There is a message - @MessageForGrandChild </p>
<p>There is a message - @LuckyNumber </p>

@code {
	[CascadingParameter(Name = "message")]
	public string MessageForGrandChild { get; set; }

	[CascadingParameter(Name = "LuckyNumber")]
	public string LuckyNumber { get; set; }

}
